@charset "UTF-8";
body{font-family:Arial; margin:0; padding:0;}
header,footer{background:#d71920; color:white; padding:10px; text-align:center;}
.match-card{border:1px solid #ccc; margin:10px; padding:10px; display:flex;}
.match-banner{width:200px; height:120px; margin-right:10px;}
button,a{background:#d71920;color:white;padding:6px 12px;text-decoration:none;border:none;border-radius:4px;}
